{
    "presets": [
        // Latest stable ECMAScript features
        "babel-preset-env",
        "babel-preset-react",
    ],
    "plugins": [
        "transform-object-rest-spread",
        ["babel-plugin-transform-react-jsx",{ "useBuiltIns": true }],
        "babel-plugin-syntax-dynamic-import",
        "babel-plugin-transform-react-jsx-source",
        "babel-plugin-transform-react-jsx-self"
    ]
}